doctype html
head
    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")

    title Cliente #{client.name}
body
    nav.navbar.navbar-light.bg-light 
        .container-fluid
            a.navbar-brand(href='#') TreinaWeb 
    .container
            .card 
                h5.card-header Detalhes do(a) Cliente #{client.name}
                .card-body
                    p
                        strong ID: 
                        | #{client.id}
                    p
                        strong Name: 
                        | #{client.name}
                    p
                        strong Email: 
                        | #{client.email}
                    p
                        strong Data de Criação: 
                        | #{client.createdAt}
                    p
                    strong Data de Atualização: 
                        | #{client.updateAt}
                    
script (src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")

